<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Cuota inicial:</strong>
  <%= @proyecto.cuota_inicial %>
</p>

<p>
  <strong>Cuota mensual:</strong>
  <%= @proyecto.cuota_mensual %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @proyecto.usuario.nombre %>
</p>

<%= link_to 'Edit', edit_proyecto_path(@proyecto) %> |
<%= link_to 'Back', proyectos_path %>
