<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "PRB4", root_path %></a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <% if current_user %> 
      <ul class="left">
        <li class="divider"></li>
        <li><%= link_to "Products", products_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Usuarios", usuarios_path %></li>
        <li class="divider"></li>
        <li><%= link_to "GroupInvs", groupinvs_path %></li>
        <li class="divider"></li>
        <li><%= link_to "Proyectos", proyectos_path %></li>
    </ul>
      <ul class="right">
        <li class="has-dropdown not_click">
          <a href="#"><%= image_tag current_user.imagen_url(:thumb) %></a>
          <ul class="dropdown"> 
            <li><%= link_to 'Configuracion', edit_usuario_path(current_user) %></li>
            <li><%= link_to 'Salir', logout_path, method: :post %></li>
          </ul>
        </li>
      </ul>
    <% else %>
      <ul class="right">
        <li class="divider"></li>
          <li> <%= link_to "Ingresar", login_path %> </li>
        </ul>
      <% end %>
  </section>
</nav>