<h1>Welcome</h1>
	<%= render "groupinvs/search_fields" %>
<div class="row">
	<div class="columns medium-6 small-12" >
	<% @groupinvs.each do |groupinv| %>
		<%= link_to groupinv_path(groupinv) do %>
			<div class="panel" style='height: 100px;' %>
					<%= image_tag groupinv.imagen_url(:thumb100) %>
					<%= groupinv.nombre %>
					<p><%= groupinv.descripcion %></p>
			</div>
		<% end -%>
	<% end %>
	</div>
</div>
