<%= search_form_for @search do |f| %>
<div class="row">
  <div class="columns medium-4">
    <%= f.label :nombre_cont, "Nombre" %>
    <%= f.text_field :nombre_cont %>
  </div>
  <div class="columns medium-4">
    <%= f.label :montoIngreso_gteq, "Monto Ingreso desde" %>
    <%= f.number_field :montoIngreso_gteq %>
  </div>
  <div class="columns medium-4">
    <%= f.label :montoIngreso_lteq, "and" %>
    <%= f.number_field :montoIngreso_lteq %>
  </div>
</div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>