<div>
  <% if @groupinv.usuario_pertenece?(current_user) %>
      <% if @groupinv.groupinv_usuarios.find_by(usuario: current_user).administrador
 %>
        <%= link_to 'Borrar Groupinv', groupinv_path(@groupinv), method: :delete %>
      <% else %>
        <%= link_to 'Salir del Groupinv', groupinv_usuario_path(groupinv: @groupinv), method: :delete %>
      <% end %>
  <% else %>
    <%= link_to 'Unirse al Groupinv', groupinv_usuarios_path(groupinv: @groupinv), method: :post %>
  <% end %>
</div>

<p>
  <strong>Nombre:</strong>
  <%= @groupinv.nombre %>
</p>

<p>
  <strong>Personasmin:</strong>
  <%= @groupinv.personasMin %>
</p>

<p>
  <strong>Personasmax:</strong>
  <%= @groupinv.personasMax %>
</p>

<p>
  <strong>Montoingreso:</strong>
  <%= @groupinv.montoIngreso %>
</p>

<p>
  <strong>Montomensual:</strong>
  <%= @groupinv.montoMensual %>
</p>

<p>
  <strong>Esadministrador:</strong>
  <%= @groupinv.esAdministrador %>
</p>

<div class="small-6 columns">
  <h3>Usuarios</h1>
  <% @groupinv.usuarios.each do |usuario| %>
    <%= usuario.email %>
    <%= @groupinv.groupinv_usuarios.find_by(usuario: usuario).administrador %>
    <%= link_to 'Borrar', groupinv_usuario_path(groupinv: @groupinv, usuario: usuario), method: :delete unless usuario == current_user %></br>
  <% end %>
</div>
<div class="small-6 columns">
  <h3>Proyectos</h1>
    <% if current_user.proyectos.any? %>
      <%= link_to 'Proponer Proyecto', root_path %>
    <% end %>
</div>

<div>
  <%= link_to 'Edit', edit_groupinv_path(@groupinv) %> |
  <%= link_to 'Back', root_path %>
</div>

