<div>
  <% if @usuario_pertenece == true %>
    <%= link_to 'Salir del Groupinv', groupinv_usuario_path(groupinv: @groupinv), method: :delete %>
  <% else %>
    <%= link_to 'Unirse al Groupinv', groupinv_usuarios_path(groupinv: @groupinv), method: :post %>
  <% end %>
</div>

<p>
  <strong>Nombre:</strong>
  <%= @groupinv.nombre %>
</p>

<p>
  <strong>Personasmin:</strong>
  <%= @groupinv.personasMin %>
</p>

<p>
  <strong>Personasmax:</strong>
  <%= @groupinv.personasMax %>
</p>

<p>
  <strong>Montoingreso:</strong>
  <%= @groupinv.montoIngreso %>
</p>

<p>
  <strong>Montomensual:</strong>
  <%= @groupinv.montoMensual %>
</p>

<p>
  <strong>Esadministrador:</strong>
  <%= @groupinv.esAdministrador %>
</p>

<div>
  <h1>Usuarios</h1>
  <% @groupinv.usuarios.each do |usuario| %>
    <%= usuario.email %>
    <%= usuario.administrador %></br>
  <% end %>
</div>

<%= link_to 'Edit', edit_groupinv_path(@groupinv) %> |
<%= link_to 'Back', groupinvs_path %>
