<div class="row">
  <% if @groupinv.usuario_pertenece?(current_user) %>
    <%= link_to 'Salir del Groupinv', groupinv_usuario_path(groupinv: @groupinv, usuario: current_user), method: :delete %>
  <% else %>
    <%= link_to 'Unirse al Groupinv', groupinv_usuarios_path(groupinv: @groupinv), method: :post %>
  <% end %>
  <% if @groupinv.administrador?(current_user) %>
    <%= link_to 'Borrar Groupinv', groupinv_path(@groupinv), method: :delete %>
  <% end %>
</div>

  <strong>Nombre:</strong>
  <%= @groupinv.nombre %></br>
  <strong>Personasmin:</strong>
  <%= @groupinv.personasMin %></br>
  <strong>Personasmax:</strong>
  <%= @groupinv.personasMax %></br>
  <strong>Montoingreso:</strong>
  <%= @groupinv.montoIngreso %></br>
  <strong>Montomensual:</strong>
  <%= @groupinv.montoMensual %></br>
  <strong>Esadministrador:</strong>
  <%= @groupinv.esAdministrador %></br>

<div class="small-6 columns">
  <%= render "groupinv_usuarios/usuarios" %>
</div>
<div class="small-6 columns">
  <%= render "groupinv_proyectos/proyectos" %>
  <%= render "groupinv_proyectos/form" %>
</div>

<div class="row">
  <div class="small-6 columns">
    <h3>Commentario</h3>
    <%= render "comentarios/comentarios" %>
    <%= render "comentarios/form" %>
  </div>
</div>

