<%= form_for(@groupinv_proyecto) do |f| %>
	<div class="row">
		<div class="columns small-6">
			<%= f.hidden_field :groupinv_id %>
			<%= f.label :proyecto_id, "Proponer proyectos" %>
			<%= f.collection_select :proyecto_id, Proyecto.where(usuario: current_user), :id, :nombre, {},{} %>
		</div>
	</div>
	<div class="actions">
    	<%= f.submit %>
  	</div>
<% end -%>
