<%= link_to 'Votar', groupinv_usuario_path(groupinv: @groupinv, proyecto: @proyecto), method: :put %>

<p>
  <strong>Nombre:</strong>
  <%= @proyecto.nombre %>
</p>

<p>
  <strong>Cuota inicial:</strong>
  <%= @proyecto.cuota_inicial %>
</p>

<p>
  <strong>Cuota mensual:</strong>
  <%= @proyecto.cuota_mensual %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @proyecto.usuario.nombre %>
</p>
