<%= link_to 'Votar', groupinv_usuario_path(groupinv: @groupinv, proyecto: @proyecto), method: :put %>

  <%= @proyecto.nombre %></br>
  <%= @proyecto.cuota_inicial %></br>
  <%= @proyecto.cuota_mensual %></br>
  <%= @proyecto.usuario.nombre %></br>

<div class="row">
	<div class="small-6 columns">
		<h3>Commentario</h3>
		<%= render "comentarios/comentarios" %>
		<%= render "comentarios/form" %>
	</div>
</div>

