<%= form_for(@usuario) do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@usuario.errors.count, "error") %> prohibited this usuario from being saved:</h2>

      <ul>
      <% @usuario.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :es_empresa%>
  <%= f.check_box :es_empresa%>
  <%= f.label :nombre%>
  <%= f.text_field :nombre%>
  <%= f.label :apellido%>
  <%= f.text_field :apellido%>
  <%= f.label :email%>
  <%= f.text_field :email%>
  <%= f.label :email_confirmation%>
  <%= f.text_field :email_confirmation%>
  <%= f.label :password%>
  <%= f.password_field :password%>
  <%= f.label :password_confirmation%>
  <%= f.password_field :password_confirmation%>
  <%= f.submit %>
<% end %>
