<%= form_for @usuario, html: {"data-abide" => ""} do |f| %>
  <%= render "shared/errors", modelo: @usuario %>
  <h3>Registrate</h3>
  <div class="row">
    <div class="columns medium-6 small-12 chosen-select">
      <%= f.select(:es_empresa, options_for_select([['Particular', 0],['Empresa', 1]])) %>
    </div>
  </div>  
  <div class="row">
    <div class="columns medium-6 small-12">
      <%= f.label :email%>
      <%= f.text_field :email, required: '' %>
      <%= content_tag(:small, 'Requerido', class: 'error') %>
    </div>
  </div>
  <div class="row">
    <div class="columns medium-6 small-12">
      <%= f.label :password%>
      <%= f.password_field :password%>
    </div>
    <div class="columns medium-6 small-12" >
      <%= f.label :password_confirmation%>
      <%= f.password_field :password_confirmation, "data-equalto" => 'usuario_password' %>
      <%= content_tag(:small, 'Password no coincide', class: 'error') %>
    </div>
  </div>
  <div class="row">
      <div class="columns medium-6 small-12">
      <%= f.submit 'Registrarme', class: 'button'%>
      </div>
  </div>
<% end %>
