<!DOCTYPE html>
<html>
<head>
  <title>PRB4</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav class="top-bar">
	  <ul class="title-area">
	    <li class="name">
	      <h1><%= link_to "PRB4", products_path %></a></h1>
	    </li>
	  </ul>
	  <section class="top-bar-section">
	    <% if current_user %>	
	    	<ul class="left">
    			<li class="divider"></li>
			    <li><%= link_to "Browse Products", products_path %></li>
			    <li class="divider"></li>
			    <li><%= link_to "Price List" %></li>
			    <li class="divider"></li>
			    <li><%= link_to "Contact Us" %></li>
			    <li class="divider"></li>
			    <li><%= link_to "Cart" %></li>
			</ul>
			<ul class="right">
	    		<li> <%= link_to "log out #{current_user.email}", :logout, method: :post %> </li>
         		<li> <%= link_to 'Editar usuario', edit_usuario_path(current_user) %> </li>
         	</ul>
	    <% else %>
	    	<ul class="right">
	    		<li> <%= link_to "Register", new_usuario_path %> </li>
         		<li> <%= link_to "Login", :login %> </li>
         	</ul>
        <% end %>
	  </section>
	</nav>
		<div>
	    	<p id="notice"><%= flash[:notice] %></p>
	    	<p id="alert"><%= flash[:alert] %></p>
	  	</div>
	<div class="large-12 columns"><%= yield %></div>
</body>
</html>
